<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body id="account-page">
    <h2>Welcome, {{ username }}!</h2>
    <a href="{{ url_for('logout') }}">Logout</a>

    <div class="tabs">
        <div class="tab active" data-tab="workers">People</div>
        <div class="tab" data-tab="months">Months</div>
    </div>

    <!-- People tab -->
    <div id="workers" class="tab-content active"> 
        <h3>Your Workers</h3>
        <button id="add-person-btn">+ Add Person</button>

        <table id="workers-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Vacations</th>
                    <th>Shifts</th>
                    <th>Zone</th>
                </tr>
            </thead>
            <tbody> 
                {% for name, w in workers.items() %}
                <tr>
                    <td></td>
                    <td>{{ name }}</td>
                    <td>{{ w.role }}</td>
                    <td>{{ w.vacations }}</td>
                    <td>{{ w.shifts }}</td>
                    <td>{{ w.places }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Month tab -->
    <div id="months" class="tab-content">
        <div class="months-tabs">
            <!-- data-tab for content, id for name of tab -->
            <div class="month-tab" data-tab="prevContent" id="prevTab">
                {{months.prev_month}} {{years.prev_year}}
            </div>
            <div class="month-tab active" data-tab="currentContent" id="currentTab">
                {{months.cur_month}} {{years.cur_year}}
            </div>
            <div class="month-tab" data-tab="nextContent" id="nextTab">
                {{months.next_month}} {{years.next_year}}
            </div>
        </div>

        <div class="month-tab-contents">
            <div class="month-tab-content" id="prevContent">Previous month content</div>
            <div class="month-tab-content active" id="currentContent">Current month content</div>
            <div class="month-tab-content" id="nextContent">Next month content</div>
        </div>
        
        <div class="months-container">

            <!-- Table with workers for month -->
            <div class="month-workers-table-wrapper">
                <table id="month-workers-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Exceptions</th>
                            <th>Shifts Number</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for name, w in workers.items() %}
                        <tr>
                            <td>
                                <button class="edit-btn">Edit</button>
                            </td>
                            <td>{{ name }}</td>
                            <td>{{ w.exceptions }}</td>
                            <td>{{ w.shifts }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Shifts table -->
            <div class="month-shift-table-wrapper">
                
            </div>
            
            
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
