<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body id="account-page">
    <h2>Welcome, {{ username }}!</h2>
    <a href="{{ url_for('logout') }}">Logout</a>

    <div class="tabs">
        <div class="tab active" data-tab="workers">People</div>
        <div class="tab" data-tab="months">Months</div>
    </div>

    <!-- People tab -->
    <div id="workers" class="tab-content active"> 
        <h3>Your Workers</h3>
        <button id="add-person-btn">+ Add Person</button>

        <table id="workers-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Vacations</th>
                    <th>Shifts</th>
                    <th>Zone</th>
                </tr>
            </thead>
            <tbody> 
                {% for name, w in workers.items() %}
                <tr>
                    <td></td>
                    <td>{{ name }}</td>
                    <td>{{ w.role }}</td>
                    <td>{{ w.vacations }}</td>
                    <td>{{ w.shifts }}</td>
                    <td>{{ w.places }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Month tab -->
    <div class="tab-content" id="months" >
        <div class="months-tabs">
            <!-- data-tab for content, id for name of tab -->
            <div class="month-tab" data-tab="prevContent" id="prevTab">
                {{months.prev[1]}} {{years.prev}}
            </div>
            <div class="month-tab active" data-tab="currentContent" id="currentTab">
                {{months.cur[1]}} {{years.cur}}
            </div>
            <div class="month-tab" data-tab="nextContent" id="nextTab">
                {{months.next[1]}} {{years.next}}
            </div>
        </div>
        <div class="month-tab-contents">
            <div class="month-tab-content" id="prevContent">
                <!-- Table with workers for prev month -->
                <div class="month-workers-table-wrapper">
                    <table class="month-workers-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Exceptions</th>
                                <th>Shifts Number</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for name, values in workers.items() %}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ months_vacations['prev'][name] | join(', ') 
                                        if months_vacations['prev'][name] 
                                        else '' }}</td>
                                <td>{{ values['shifts']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Shifts table -->
                <div class="month-shift-table-wrapper">
                    <table class="month-shifts-table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>OTVET</th>
                                <th>DIAGNOS</th>
                                <th>EXTR</th>
                                <th>PLAN</th>
                                <th>GREEN</th>
                                <th>YELLOW</th>
                                <th>TORAC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in months_days['prev']['days'] %}
                                <tr class="{% if row.is_weekend %}weekend{% endif %}">
                                    <td>{{ row.day }}</td>
                                    <!-- Loop through each column (except first) to allow input -->
                                    {% for column in ["OTVET", "DIAGNOS", "EXTR", "PLAN", "GREEN", "YELLOW", "TORAC"] %}
                                    <td class="editable" data-name="name_{{ column }}_{{ row.day }}">
                                        <!-- {{ row.get('name_' ~ column ~ '_' ~ row.day, '') }} -->
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="month-tab-content active" id="currentContent">
                
                <!-- Table with workers for cur month -->
                <div class="month-workers-table-wrapper-and-button">
                    <div class="month-workers-table-button">
                        <form id="cur-workers-save-form">
                            <button name='cur-workers-save-names' type="submit">Save Names</button>
                        </form>
                    </div>
                    
                    <!-- Table with workers for cur month -->
                    <table class="month-workers-table cur">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Exceptions</th>
                                <th>Shifts Number</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for name, values in workers.items() %}
                            <tr>
                                <td>
                                    <button class="edit-btn">Edit</button>
                                </td>
                                <td>{{ name }}</td>
                                <td>
                                    {% for day in months_vacations_list['cur'].get(name, []) %}
                                        {% if day in highlight['cur'][name]['exceptions'] %}
                                            <span class="green">{{ day }}</span>
                                        {% else %}
                                            {{ day }}
                                        {% endif %}

                                        {% if not loop.last %}, {% endif %}

                                    {% endfor %}
                                </td>
                                <td>
                                    {% if highlight['cur'][name]['shifts'] is not none %}
                                        <span style="color:green">
                                            {{ highlight['cur'][name]['shifts'] }}
                                        </span>
                                    {% else %}
                                        {{ values['shifts'] }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Shifts table and buttons -->
                <div class="month-shift-table-wrapper-and-buttons">
                    <div class="month-shift-table-buttons">
                        <form class='shifts-save-form' id="cur-save-form">
                            <button type="submit">Save Names</button>
                        </form>
                        <form class='generate-form' id='cur-generate-form'>
                            <button type="submit">Generate Table</button>
                        </form>
                        <form class='clear-generated-form' id="cur-clear-generated-form">
                            <button type="submit">Clear Generated</button>
                        </form>
                        <form class='clear-all-form' id="cur-clear-all-form">
                            <button type="submit">Clear All</button>
                        </form>
                    </div>
                    <div class="month-shift-table-wrapper">
                        <table class="month-shifts-table">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>OTVET</th>
                                    <th>DIAGNOS</th>
                                    <th>EXTR</th>
                                    <th>PLAN</th>
                                    <th>GREEN</th>
                                    <th>YELLOW</th>
                                    <th>TORAC</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in months_days['cur']['days'] %}
                                    <tr class="{% if row.is_weekend %}weekend{% endif %}">
                                        <td>{{ row['day'] }}</td>
                                        
                                        <!-- Loop through each column (except first) to allow input -->
                                        {% for column in ["OTVET", "DIAGNOS", "EXTR", "PLAN", "GREEN", "YELLOW", "TORAC"] %}
                                        <td class="cur-editable 
                                        {% if shifts_tables['cur'].get(row.day, {}).get(column, [None, None])[1] == 'self' %}        
                                            booked    
                                        {% endif %}" data-name="{{ column }}_{{ row.day }}">
                                            {% if row['day'] in shifts_tables['cur'] %}
                                                {% if column in shifts_tables['cur'][row['day']] %}
                                                    {{ shifts_tables['cur'][row['day']][column][0] }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
                </div> 
                
            </div>
            <div class="month-tab-content" id="nextContent">
                <!-- Table with workers for next month -->
                <div class="month-workers-table-wrapper">
                    <!-- Table with workers for next month -->
                    <table class="month-workers-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Exceptions</th>
                                <th>Shifts Number</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for name, values in workers.items() %}
                            <tr>
                                <td>
                                    <button class="edit-btn">Edit</button>
                                </td>
                                <td>{{ name }}</td>
                                <td>{{ months_vacations['next'][name] | join(', ') 
                                        if months_vacations['next'][name] 
                                        else '' }}</td>
                                <td>{{ values['shifts']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Shifts table -->
                <div class="month-shift-table-wrapper">
                    <table class="month-shifts-table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>OTVET</th>
                                <th>DIAGNOS</th>
                                <th>EXTR</th>
                                <th>PLAN</th>
                                <th>GREEN</th>
                                <th>YELLOW</th>
                                <th>TORAC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in months_days['next']['days'] %}
                                <tr class="{% if row.is_weekend %}weekend{% endif %}">
                                    <td>{{ row.day }}</td>
                                    <!-- Loop through each column (except first) to allow input -->
                                    {% for column in ["OTVET", "DIAGNOS", "EXTR", "PLAN", "GREEN", "YELLOW", "TORAC"] %}
                                    <td class="editable" data-name="name_{{ column }}_{{ row.day }}">
                                        <!-- {{ row.get('name_' ~ column ~ '_' ~ row.day, '') }} -->
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
