<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body id="account-page">
    <h2>Welcome, {{ username }}!</h2>
    <a href="{{ url_for('logout') }}">Logout</a>

    <div class="tabs">
        <div class="tab active" data-tab="workers">People</div>
        <div class="tab" data-tab="months">Months</div>
    </div>

    <!-- People tab -->
    <div id="workers" class="tab-content active"> 
        <h3>Your Workers</h3>
        <button id="add-person-btn">+ Add Person</button>

        <table id="workers-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Work Role</th>
                    <th>Exception Dates</th>
                    <th>Shifts Number</th>
                    <th>Zone</th>
                </tr>
            </thead>
            <tbody> 
                {% for w in workers %}
                <tr>
                    <td></td>
                    <td>{{ w.name }}</td>
                    <td>{{ w.role }}</td>
                    <td>{{ w.exceptions }}</td>
                    <td>{{ w.shifts }}</td>
                    <td>{{ w.places }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Month tab -->
    <div id="months" class="tab-content">
        <h3>December</h3>
        <div class="months-container">

            <!-- Table with workers params for month -->
            <div class="month-workers-table-wrapper">
                <table id="month-workers-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Exception Dates</th>
                            <th>Shifts Number</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for w in workers %}
                        <tr>
                            <td>
                                <button class="edit-btn">Edit</button>
                            </td>
                            <td>{{ w.name }}</td>
                            <td>{{ w.exceptions }}</td>
                            <td>{{ w.shifts }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Shifts table -->
            <div class="month-shift-table-wrapper">
                
            </div>
            
            
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
